{# Todo: wijs de juiste data toe aan onderstaande variabele #}
{#{% set backgroundImage = %}#}
{#{% set text =  %}#}

{#<div class="flex items-center {% if text|length %} max-h-full {% else %} h-128 {% endif%}  bg-local bg-cover bg-center box-border bg-no-repeat bg-light" {% if backgroundImage %}#}
{#     style="background-image: url({{ backgroundImage.getUrl() }}) {% endif %}">#}
{#    <div class="m-auto bg-white opacity-90 rounded-sm w-2/5 {% if text|length %} my-28 {% endif%}">#}
{#        <div class="px-12 py-12 text-center flex">#}
{#            <h3 class="w-14 border-b-4 border-red-700 m-auto mx-4 content-['']"></h3>#}
{#            #}
{#            <h3 class="text-4xl font-bold tracking-tight text-red-700 ">#}
{#                Todo: laad hier de titel van het blok in#}
{#            </h3>#}
{#            #}
{#            <h3 class="w-14 border-b-4 border-red-700 m-auto mx-4 content-['']"></h3>#}
{#        </div>#}
{#        #}
{#        <div class="text-center mb-8 mx-12 tracking-wide">#}
{#            Todo: laad hier de tekst van het blok in, enkel en alleen wanneer er een waarde in het veld zit.#}
{#        </div>#}
{#        #}
{#        <div class="w-full flex justify-center pb-8">#}
{#            #}
{#            Todo: gebruik onderstaande div om de knop samen te stellen. Gebruik chevron-right.svg als svg.#}
{#            <div class="hover:bg-light rounded-lg p-4 font-bold bg-red-700 text-white hover:text-black">#}
{#                <a href=""></a>#}
{#                {{ svg()|attr({ class: 'inline-block w-5 h-5', role: 'img'}) }}#}
{#            </div>#}
{#            #}
{#        </div>#}
{#    </div>#}
{#</div>#}