{#<div class="w-2/3 m-auto bg-red-100 p-10">#}
{#    <h3 class="text-4xl font-bold text-center">#}
{#        #}{# Todo: laad hier de titel van het blok in#}
{#    </h3>#}

{#    <div class="pt-16 w-4/5 m-auto">#}
{#        #}{# Todo: laad hier het formulier in#}
{#    </div>#}
{#</div>#}