{#Todo: toon deze titel enkel wanneer de titel van het eerste blok is ingevuld#}
{#<h2 class="w-full text-3xl font-bold text-red-700 mb-4">#}
{#    Todo: Laad hier de titel van het eerste blok in#}
{#</h2>#}

{#<div class="flex flex-wrap">#}
{#    <div class="px-4 w-1/2">#}

{#        Todo: toon deze titel enkel wanneer de titel van het eerste blok en het tweede blok is ingevuld#}
{#        <h2 class="text-3xl font-bold text-red-700 mb-4">#}
{#            Todo: Laad hier de titel van het eerste blok in#}
{#        </h2>#}
{#        #}
{#        <div>#}
{#            Todo: Laad hier de tekst van het eerste blok in#}
{#        </div>#}
{#        #}
{#    </div>#}
{#    <div class="px-4 w-1/2">#}
{#        #}
{#        Todo: toon deze titel enkel wanneer de titel van het tweede blok is ingevuld#}
{#        <h2 class="text-3xl font-bold text-red-700 mb-4">#}
{#            Todo: Laad hier de titel van het tweede blok in#}
{#        </h2>#}

{#        <div>#}
{#            Todo: Laad hier de tekst van het tweede blok in#}
{#        </div>#}
{#        #}
{#    </div>#}
{#</div>#}