<div>
   <div class="container">
       <div class="my-10 pt-16">
           <div class="flex ">

               <h1 class="text-5xl font-bold text-red-700">
                    {# Todo: laad hier de titel van de entry in. #}
                    {{ entry.title }}
               </h1>

               <h1 class="flex-auto border-b-4 border-red-700 mx-4 content-['']"></h1>
           </div>

           <div class="w-2/3 my-10 text-2xl">
                {# Todo: laad hier de intro van de entry in. #}
                {{ entry.introspellen }}
           </div>

       </div>
   </div>
</div>