{#    Todo: Laad hier de hero snippet in#}
{#<div class="container">#}
{#    <div class="flex">#}

        {# Todo: gebruik onderstaande div om de afbeelding te tonen. Is er geen afbeelding beschikbaar, gebruik dan de global afbeelding #}
{#        <div class="w-1/3">#}
{#            <img src="" alt="">#}
{#        </div>#}

{#        <div class="w-2/3 p-16 flex flex-col">#}

{#            <div class="w-full pr-16 pb-8">#}
            {# Todo: Laad hier de omschrijving in #}
{#            </div>#}

{#            <div class="flex w-full pb-4">#}
{#                <div class="font-bold text-2xl">Prijs:</div>#}

{#                <div class="text-2xl ml-4">#}
{#                    €#}
                    {# Todo: Laad hier de prijs in #}
{#                </div>#}

{#            </div>#}
{#            <div class="flex w-full pb-4">#}
{#                <div class="font-bold text-2xl">Spelers:</div>#}

{#                <div class="text-2xl ml-4">#}
                    {# Todo: Laad hier het aantal spelers in #}
{#                </div>#}

{#            </div>#}
{#            <div class="flex w-full pb-4">#}
{#                <div class="font-bold text-2xl">Speeltijd:</div>#}

{#                <div class="text-2xl ml-4">#}
                    {# Todo: Laad hier de speeltijd in #}
{#                </div>#}

{#            </div>#}
{#                <div class="flex w-full pb-4">#}
{#                    <div class="font-bold text-2xl">Minimum leeftijd:</div>#}

{#                    <div class="text-2xl ml-4">#}
                        {# Todo: Laad hier de minimum leeftijd categorie in #}
{#                    </div>#}

{#                </div>#}
{#                <div class="flex w-full pb-4">#}
{#                    <div class="font-bold text-2xl">Uitgebracht in</div>#}

{#                    <div class="text-2xl ml-4">#}
                        {# Todo: Laad hier het jaar in dat het spel werd uitgebracht #}
{#                    </div>#}

{#                </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{% include '_snippets/_contentBuilder/_contentBuilder.twig' %}
